<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Name, Parent, Surname</mat-label>
      <input required matInput placeholder="" [(ngModel)]="personalinformation.fullName" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>JMBG</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.jmbg" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Previous Donations</mat-label>
      <input matInput placeholder="" type="number" [(ngModel)]="personalinformation.previousDinations" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Sex</mat-label>
      <mat-select [(ngModel)]="personalinformation.sex" (change)="onChange()">
        <mat-option value="m">male</mat-option>
        <mat-option value="f">female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.address" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>District</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.district" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.city" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Home Number</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.homeNumber" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Job Number</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.jobNumber" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>CellPhone</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.mobile" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.occupation" (change)="onChange()">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Job Title</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.jobTitle" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="personalinformation.dateOfBirth" (change)="onChange()">

      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col">
    <mat-form-field>
      <mat-label>District</mat-label>
      <input matInput placeholder="" [(ngModel)]="personalinformation.district" (change)="onChange()">
    </mat-form-field>
  </div>
</div>

